body, h1, h2, ul, dl, dd {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

li {
    list-style-type: none;
}

dd, dt {
display: inline-block;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
}