body, h1, h2, h3, ul, dl, dd {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

li {
    list-style-type: none;
}

dd, dt {
display: inline-block;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

.ir_text{
    display: block;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    line-height: 0;
    Font-size: 1px;
    color: transparent;
  }